.card-img-custom {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
  }
  
  .card-footer-custom {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .card-footer-custom a {
    color: white;
    text-decoration: none;
  }
  
  .card-footer-custom:hover {
    background-color: blue; /* Change background color to blue on hover */
  }
  
  .card-footer-custom a:hover {
    color: white; /* Keep the text color white on hover */
  }
  